In [1]:
import pyfiglet as pfg
from termcolor import colored as tc
import calendar as cal
import time as T
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from datetime import datetime
import matplotlib.ticker as mticker
from pandas.plotting import register_matplotlib_converters
from datetime import datetime
register_matplotlib_converters()

In [2]:
df=pd.read_csv('noshowappointments-kagglev2-may-2016.csv',)

So our main goal here is to know the Factors that affect Appointment attendance....
lets start by cleaning our data to make it easier to use

In [3]:
#checking null values
df.isnull().sum()

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

Nice! no null values here...

In [4]:
#check data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

Well am gonna do some changes to data types here
1-PatientId=>STR
,2-ScheduledDay=>datetime
,3-AppointmentDay

In [5]:
df['PatientId']=df['PatientId'].astype(str)
df['ScheduledDay']=pd.to_datetime(df['ScheduledDay'])
df['AppointmentDay']=pd.to_datetime(df['AppointmentDay'])

Change some columns names...

In [7]:
df.rename(columns={'No-show':'Attended',"SMS_received":"sms",'Neighbourhood':'location','Scholarship':'insurance',},inplace=True)

In [8]:
df['Attended']=np.where(df['Attended']=='No',1,0)

Here i changed show col values from (no,yes) to (1,0) 1 means the person attended and 0 for not..... it make more sense now

In [22]:
df["healthy"]=np.where((df['Hipertension']+df['Diabetes']+df['Alcoholism']+df['Handcap'])==0,1,0)

adding ovhealth col based on [Hipertension	Diabetes	Alcoholism	Handcap ] values if ovhealth = 0 that means the person is healthy and if 1 mean he has 1,some of this disease

In [14]:
for x in df.columns.to_list():
    print(df[x].value_counts())

822145925426128.0    88
99637671331.0        84
26886125921145.0     70
33534783483176.0     65
6264198675331.0      62
                     ..
862263621811.0        1
9267587227475.0       1
5764355598913.0       1
5712491287569.0       1
15576631729893.0      1
Name: PatientId, Length: 62299, dtype: int64
5642903    1
5692618    1
5687640    1
5740664    1
5740598    1
          ..
5718442    1
5426425    1
5424230    1
5720832    1
5629448    1
Name: AppointmentID, Length: 110527, dtype: int64
F    71840
M    38687
Name: Gender, dtype: int64
2016-05-06 07:09:54+00:00    24
2016-05-06 07:09:53+00:00    23
2016-04-25 17:18:27+00:00    22
2016-04-25 17:17:46+00:00    22
2016-04-25 17:17:23+00:00    19
                             ..
2016-05-02 09:53:25+00:00     1
2016-05-30 09:12:28+00:00     1
2016-05-16 09:10:04+00:00     1
2016-05-09 10:17:48+00:00     1
2016-04-27 13:30:56+00:00     1
Name: ScheduledDay, Length: 103549, dtype: int64
2016-06-06 00:00:00+00:00    4692
2016-05-16 00:00:00+00:00    4613
2016-05-09 00:00:00+00:00    4520
2016-05-30 00:00:00+00:00    4514
2016-06-08 00:00:00+00:00    4479
2016-05-11 00:00:00+00:00    4474
2016-06-01 00:00:00+00:00    4464
2016-06-07 00:00:00+00:00    4416
2016-05-12 00:00:00+00:00    4394
2016-05-02 00:00:00+00:00    4376
2016-05-18 00:00:00+00:00    4373
2016-05-17 00:00:00+00:00    4372
2016-06-02 00:00:00+00:00    4310
2016-05-10 00:00:00+00:00    4308
2016-05-31 00:00:00+00:00    4279
2016-05-05 00:00:00+00:00    4273
2016-05-19 00:00:00+00:00    4270
2016-05-03 00:00:00+00:00    4256
2016-05-04 00:00:00+00:00    4168
2016-06-03 00:00:00+00:00    4090
2016-05-24 00:00:00+00:00    4009
2016-05-13 00:00:00+00:00    3987
2016-05-25 00:00:00+00:00    3909
2016-05-06 00:00:00+00:00    3879
2016-05-20 00:00:00+00:00    3828
2016-04-29 00:00:00+00:00    3235
2016-05-14 00:00:00+00:00      39
Name: AppointmentDay, dtype: int64
 0      3539
 1      2273
 52     1746
 49     1652
 53     1651
        ...
 115       5
 100       4
 102       2
 99        1
-1         1
Name: Age, Length: 104, dtype: int64
JARDIM CAMBURI                 7717
MARIA ORTIZ                    5805
RESISTÊNCIA                    4431
JARDIM DA PENHA                3877
ITARARÉ                        3514
                               ...
ILHA DO BOI                      35
ILHA DO FRADE                    10
AEROPORTO                         8
ILHAS OCEÂNICAS DE TRINDADE       2
PARQUE INDUSTRIAL                 1
Name: location, Length: 81, dtype: int64
0    99666
1    10861
Name: insurance, dtype: int64
0    88726
1    21801
Name: Hipertension, dtype: int64
0    102584
1      7943
Name: Diabetes, dtype: int64
0    107167
1      3360
Name: Alcoholism, dtype: int64
0    108286
1      2241
Name: Handcap, dtype: int64
0    75045
1    35482
Name: sms, dtype: int64
1    88208
0    22319
Name: Attended, dtype: int64
1    84115
0    26412
Name: healthy, dtype: int64

Checking data types and values in cols....

In [11]:
df['Handcap']=np.where(df['Handcap']>0,1,0)

i found that Handcap col ase values (0,1,2,3,4) am gonna change it to 0 for False  and 1 for True....and Age col have a 1 negative value so am gonna drop that row......

(So overall columns gonna be 1 if the col is true and 0 if the col is false)

In [15]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,location,insurance,Hipertension,Diabetes,Alcoholism,Handcap,sms,Attended,healthy
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,1,0
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,1,1
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,1,1
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,1
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293.0,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,1,1
110523,3596266328735.0,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,1,1
110524,15576631729893.0,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,1,1
110525,92134931435557.0,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,1,1
110526,377511518121127.0,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,1,1

In [36]:
df.drop(df.loc[df['Age']<0].index,inplace=True)

In [37]:
df.duplicated().sum()

0

Nice! our data now cleaned and we are ready to do our analysis

In [43]:
df['waiting']=(df['AppointmentDay']-df['ScheduledDay']).dt.days

Time is an important factor in this data set so am gonna add waited days col

In [44]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,location,insurance,Hipertension,Diabetes,Alcoholism,Handcap,sms,Attended,healthy,waiting
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,1,0,-1
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,1,1,-1
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,1,1,-1
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,1,-1
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293.0,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,1,1,34
110523,3596266328735.0,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,1,1,34
110524,15576631729893.0,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,1,1,40
110525,92134931435557.0,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,1,1,40
110526,377511518121127.0,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,1,1,40

In [48]:
df.loc[df['waiting']<0]['Attended'].value_counts()

1    36770
0     1797
Name: Attended, dtype: int64

In [50]:
df.loc[df['waiting']<0]

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,location,insurance,Hipertension,Diabetes,Alcoholism,Handcap,sms,Attended,healthy,waiting
0,29872499824296.0,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,1,0,-1
1,558997776694438.0,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,1,1,-1
2,4262962299951.0,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,1,1,-1
3,867951213174.0,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,1,1,-1
4,8841186448183.0,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110511,823599626588.0,5786742,F,2016-06-08 08:50:20+00:00,2016-06-08 00:00:00+00:00,14,MARIA ORTIZ,0,0,0,0,0,0,1,1,-1
110512,98762456447375.0,5786368,F,2016-06-08 08:20:01+00:00,2016-06-08 00:00:00+00:00,41,MARIA ORTIZ,0,0,0,0,0,0,1,1,-1
110513,86747784995281.0,5785964,M,2016-06-08 07:52:55+00:00,2016-06-08 00:00:00+00:00,2,ANTÔNIO HONÓRIO,0,0,0,0,0,0,1,1,-1
110514,2695685177138.0,5786567,F,2016-06-08 08:35:31+00:00,2016-06-08 00:00:00+00:00,58,MARIA ORTIZ,0,0,0,0,0,0,1,1,-1
110517,5574942418928.0,5780122,F,2016-06-07 07:38:34+00:00,2016-06-07 00:00:00+00:00,19,MARIA ORTIZ,0,0,0,0,0,0,1,1,-1

In [51]:
df.drop(df.loc[df['waiting']<0].index)

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,location,insurance,Hipertension,Diabetes,Alcoholism,Handcap,sms,Attended,healthy,waiting
5,95985133231274.0,5626772,F,2016-04-27 08:36:51+00:00,2016-04-29 00:00:00+00:00,76,REPÚBLICA,0,1,0,0,0,0,1,0,1
6,733688164476661.0,5630279,F,2016-04-27 15:05:12+00:00,2016-04-29 00:00:00+00:00,23,GOIABEIRAS,0,0,0,0,0,0,0,1,1
7,3449833394123.0,5630575,F,2016-04-27 15:39:58+00:00,2016-04-29 00:00:00+00:00,39,GOIABEIRAS,0,0,0,0,0,0,0,1,1
9,78124564369297.0,5629123,F,2016-04-27 12:48:25+00:00,2016-04-29 00:00:00+00:00,19,CONQUISTA,0,0,0,0,0,0,1,1,1
10,734536231958495.0,5630213,F,2016-04-27 14:58:11+00:00,2016-04-29 00:00:00+00:00,30,NOVA PALESTINA,0,0,0,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2572134369293.0,5651768,F,2016-05-03 09:15:35+00:00,2016-06-07 00:00:00+00:00,56,MARIA ORTIZ,0,0,0,0,0,1,1,1,34
110523,3596266328735.0,5650093,F,2016-05-03 07:27:33+00:00,2016-06-07 00:00:00+00:00,51,MARIA ORTIZ,0,0,0,0,0,1,1,1,34
110524,15576631729893.0,5630692,F,2016-04-27 16:03:52+00:00,2016-06-07 00:00:00+00:00,21,MARIA ORTIZ,0,0,0,0,0,1,1,1,40
110525,92134931435557.0,5630323,F,2016-04-27 15:09:23+00:00,2016-06-07 00:00:00+00:00,38,MARIA ORTIZ,0,0,0,0,0,1,1,1,40
110526,377511518121127.0,5629448,F,2016-04-27 13:30:56+00:00,2016-06-07 00:00:00+00:00,54,MARIA ORTIZ,0,0,0,0,0,1,1,1,40